<div class="signup-container">
  <form class="signup-form border" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="alert response-alert" [ngClass]="alert.classes()" role="alert" [@alert-animation]="alert.display" *ngIf="alert.changed">
      <button type="button" class="close" aria-label="Close" (click)="alert.close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">{{alert.heading}}</h4>
      <p *ngIf="alert.error === 409">Nie udało się utworzyć twojego konta ponieważ podany przez ciebie login jest już zajęty! Proszę wybierz inny login i spróbuj ponownie!</p>
      <p *ngIf="alert.error && alert.error !== 409">No nie złe chochliki znowu przegryzły kable na serwerze! A niech to! Niestety twoje konto nie może zostać utworzone w tym momencie :( Proszę spróbuj później.</p>
      <p *ngIf="!alert.error">Twoje konto zostało utworzone! Teraz musisz tylko poczekać, aż administrator je zaakceptuje, a następnie przejść do <a routerLink="/login" class="alert-link">strony logowania</a>, aby się zalogować.</p>
    </div>
    <h2 class="text-primary special-font text-center">Zarejestruj się!</h2>
    <hr>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="oi oi-person"></span>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="login" formControlName="username" [ngClass]="setClasses('username')">
        <div class="invalid-feedback" *ngIf="shouldShowError('username')">
          Musisz podać login!
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="oi oi-key"></span>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="hasło" [ngClass]="setClasses('password')" formControlName="password">
        <div class="invalid-feedback" *ngIf="shouldShowError('password')">
          Musisz wpisać hasło!
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <span class="oi oi-key"></span>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="powtórz hasło" [ngClass]="setClasses('passwordRepeat')" formControlName="passwordRepeat">
        <div class="invalid-feedback" *ngIf="shouldShowError('passwordRepeat')">
          {{signupForm.controls.passwordRepeat.errors.required ? 'Musisz potwierdzić hasło!' : 'Hasła muszą być identyczne!'}}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
      </div>
      <div class="col">
        <a routerLink="/login" class="btn btn-outline-secondary btn-block">Powróć do logowania</a>
      </div>
    </div>
  </form>
</div>
