$header-height: 121px;

.header-container {
    margin-top: 10px;
    padding: 10px 30px;
    width: 100vw;
    position: relative;
    height: $header-height;

    & ul {
        margin-top: 25px;
    }
}

.logo-link {
    position: absolute;
}

.logo {
    height: 100px;
}

.profile-link {
    &:hover {
        text-decoration: none !important;
    }
}

a.nav-link.disabled {
    cursor: default !important;
}

a.admin-link {
    color: #007bff;

    &:hover {
        color: #0056b3;
        cursor: pointer;
    }

    &.disabled {
        color: #818182;
        cursor: default;
    }
}