@import "node_modules/bootstrap/scss/bootstrap";
.login-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./img/background.jpg') center;
    background-size: cover;
}

.login-form {
    padding: 15px;
    background: white;
    background: rgba(255, 255, 255, .9);
    @media (min-height: 450px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        @include media-breakpoint-up(sm) {
            width: 500px;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
        }
    }
}

.login-signup-text {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-shadow: 2px 2px 5px #000;
    @media (min-height: 450px) {
        position: absolute;
        top: 10px;
        right: 15px;
        @include media-breakpoint-up(sm) {
            top: 30px;
            right: 50px;
        }
    }
    & a {
        display: inline-block;
        color: white !important;
        text-decoration: none !important;
        font-weight: bold;
        transition: all 150ms ease-in-out;
        &:hover {
            transform: translate(0, -5px);
        }
    }
}