<app-back-link link="graphs"></app-back-link>
<form class="profile-form border" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-row form-group">
    <label for="" class="col-sm-2 col-form-label">Login: </label>
    <div class="class col-sm-10">
      <input readonly type="text" class="form-control-plaintext" [value]="loggedInUser?.username">
    </div>
  </div>
  <div class="form-row form-group">
    <label for="" class="col-sm-2 col-form-label">Zmiana hasła:</label>
    <div class="class col-sm-10">
      <div class="input-group">
        <input type="password" class="form-control" placeholder="hasło" formControlName="password" [ngClass]="getErrorClasses('password')">
        <input type="password" class="form-control" placeholder="powtórz hasło" formControlName="passwordRepeat" [ngClass]="getErrorClasses('passwordRepeat')">
        <div class="input-group-append">
          <button type="submit" class="btn btn-danger">
            Zapisz hasło
            <span class="oi oi-lock-locked"></span>
          </button>
        </div>
        <div class="invalid-feedback" *ngIf="shouldShowError('password') || shouldShowError('passwordRepeat')">Podane hasła muszą być identyczne</div>
      </div>
    </div>
  </div>
</form>